html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  overflow-x: hidden;
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.2;
  font-family: "Gilroy500";
  color: var(--text);
  background-color: var(--main-bg);
}

.container {
  max-width: 1002px;
  margin: 0 auto;
  padding: 0 30px;
}

.container--small {
  max-width: 995px;
}

body.lock {
  overflow: hidden;
}

.title {
  font-family: "Gilroy700";
  font-size: 34px;
  line-height: 1.2;
  text-align: center;
}

.line-clamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.mode__list {
  display: flex;
  flex-direction: column;
}

.mode__item {
  padding: 10px 0;
  cursor: pointer;
  text-align: center;
  color: var(--bg-mode);
}

.mode__item:not(:last-child) {
  border-bottom: 1px solid var(--text);
}

.mode__item.active {
  color: var(--text-secondary);
}

.mode--revers {
  display: none;
}

@media screen and (max-width: 768px) {
  .mode {
    position: fixed;
    bottom: 35px;
    right: 25px;
  }

  .mode__item i {
    font-size: 24px;
  }
}

@media screen and (min-width: 769px) {
  div.mode.mode--revers {
    display: block;
    position: static;
    margin-bottom: 10px;
  }

  .mode {
    display: none;
  }
}
