#skils {
  padding: 80px 0;
  text-align: center;
}

.skils__title {
  margin-bottom: 40px;
}

.skils__subtitle {
  margin-bottom: 70px;
}

.skils__list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 40px;
}

.skils__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skils__item-title {
  max-width: 90px;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--text);
}

.icon-brand {
  width: 45px;
  height: 45px;
  padding: 20px;
  border-radius: 50%;
  background-color: var(--text-secondary);
  font-size: 36px;
  line-height: 45px;
  color: var(--bg-light);
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .skils__list {
    flex-direction: row;
    gap: 20px;
  }

  .skils__item {
    width: 12%;
  }
}
